div {
  width: 20%;
}

h1 {
  color: red;
}

h3 {
  background-color: yellow;
  font-family: cursive;;
}

ul {
    background: #3399ff;
    padding: 20px;
}

li {
  background: #cce5ff;
  margin: 5px;
  padding-left: 5px;
  border: 1px solid blue;
}
